
<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>design-code work_sim index</title>
    <style>
        .copyarea {width:200px;height:100px;border:1px solid #ddd;}
    </style>
</head>
<body>
<div id="mailSig">
    <div id="mailSigInput">
        <p><label for="personname">성명</label> <input type="text" id="personname" placeholder="심재욱" v-model="personname"/></p>
        <p><label for="title">직급</label> <input type="text" id="title" placeholder="연구원" v-model="title"/></p>
        <p><label for="team">팀</label> <input type="text" id="team" placeholder="UI개발팀" v-model="team"/></p>
        <p><label for="org">조직</label> <input type="text" id="org" placeholder="IT연구소" v-model="org"/></p>
        <p><label for="room">사무실</label> <input type="text" id="room" placeholder="308" maxlength="3" v-model="room"/>호</p>
        <p><label for="tel">내선</label> <input type="text" id="tel" placeholder="4791" maxlength="4" v-model="tel"/></p>
        <p><label for="mobile1">모바일</label> <input type="text" id="mobile1" placeholder="010" v-model="mobile1"/> - <input type="text" id="mobile2" placeholder="0000" v-model="mobile2"/> - <input type="text" id="mobile3" placeholder="0000" v-model="mobile3"/></p>
        <p><label for="email">이메일</label> <input type="text" id="email" placeholder="joaquin" v-model="email"/>@saramin.co.kr</p>
    </div>
    <div id="result">
        <div style="margin:0;padding:0;font-size:0;line-height:0">
            <table border="0" cellspacing="0" cellpadding="0" style="font-size:0;width:800px;height:3px">
                <tr>
                    <td width="800" height="3" style="margin:0;padding:0;font-size:0;line-height:0;background:#4876ef">&nbsp;</td>
                </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" style="border-width:0 1px 1px;border-style:solid;border-color:#ececec;width:800px">
                <tr>
                    <td width="192" style="margin:0;padding:0;font-size:0;line-height:0"><a target="_blank" href="https://www.saramin.co.kr/"><img src="http://www.saraminimage.co.kr/email/logo_saram2018.png" alt="사람인" width="192" height="108" border="0" style="border:0;vertical-align:top"></a></td>
                    <td width="35" style="margin:0;padding:0;font-size:0;line-height:0">&nbsp;</td>
                    <td align="left" style="margin:0;padding:0">
                        <table border="0" cellspacing="0" cellpadding="0" style="width:568px">
                            <tr>
                                <td height="18" colspan="4" style="margin:0;padding:0;font-size:0;line-height:0">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="568" height="26" colspan="4" valign="top" style="margin:0;padding:0;word-break:break-all"><strong style="color:#444;font-family:Malgun Gothic, sans-serif;font-size:18px;letter-spacing:-1px;line-height:normal;font-weight:bold">{{personname}} {{title}}</strong></td>
                            </tr>
                            <tr>
                                <td width="568" height="22" colspan="4" style="margin:0;padding:0;word-break:break-all"><strong style="color:#444;font-family:Malgun Gothic, sans-serif;font-size:14px;font-weight:bold;letter-spacing:-1px;line-height:normal">{{team}}&nbsp;</strong> &nbsp;&nbsp;<span style="color:#444;font-family:Malgun Gothic, sans-serif;font-size:14px;letter-spacing:-1px;line-height:normal">{{org}}&nbsp;&nbsp;(주)사람인HR</span></td>
                            </tr>
                            <tr>
                                <td height="10" colspan="4" style="margin:0;padding:0;font-size:0;line-height:0">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="16" height="18" style="margin:0;padding:0;text-align:center;color:#4876ef;font-family:Malgun Gothic, sans-serif;font-size:12px;font-weight:bold;line-height:normal">T</td>
                                <td width="208" style="margin:0;padding:0 0 0 6px;word-break:break-all;color:#777;font-family:Malgun Gothic, sans-serif;font-size:12px;line-height:normal">02-2025- {{tel}}</td>
                                <td width="16" style="margin:0;padding:0;text-align:center;color:#4876ef;font-family:Malgun Gothic, sans-serif;font-size:12px;font-weight:bold;line-height:normal">F</td>
                                <td width="260" style="margin:0;padding:0 0 0 6px;word-break:break-all;color:#777;font-family:Malgun Gothic, sans-serif;font-size:12px;line-height:normal">02-2025-0039</td>
                            </tr>
                            <tr>
                                <td width="16" height="18" style="margin:0;padding:0;text-align:center;color:#4876ef;font-family:Malgun Gothic, sans-serif;font-size:12px;font-weight:bold;line-height:normal">M</td>
                                <td width="208" style="margin:0;padding:0 0 0 6px;word-break:break-all;color:#777;font-family:Malgun Gothic, sans-serif;font-size:12px;line-height:normal">{{mobile1}} - {{mobile2}} - {{mobile3}}</td>
                                <td width="16" style="margin:0;padding:0;text-align:center;color:#4876ef;font-family:Malgun Gothic, sans-serif;font-size:12px;font-weight:bold;line-height:normal">E</td>
                                <td width="260" style="margin:0;padding:0 0 0 6px;word-break:break-all;color:#777;font-family:Malgun Gothic, sans-serif;font-size:12px;line-height:normal">{{email}}@saramin.co.kr</td>
                            </tr>
                            <tr>
                                <td height="18" style="margin:0;padding:0;text-align:center;color:#4876ef;font-family:Malgun Gothic, sans-serif;font-size:12px;font-weight:bold;line-height:normal">A</td>
                                <td colspan="3" style="margin:0;padding:0 0 0 6px;word-break:break-all;color:#777;font-family:Malgun Gothic, sans-serif;font-size:12px;letter-spacing:-1px;line-height:normal">(08378) 서울특별시 구로구 디지털로 34길 43 코오롱 싸이언스밸리 1차 {{room}}호 (구로동)</td>
                            </tr>
                            <tr>
                                <td height="18" colspan="4" style="margin:0;padding:0;font-size:0;line-height:0">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <p><button id="mailSigGen" type="button" @click="makeCode()">코드 생성</button></p>
    <div id="mailSigOutput" class="copyarea">{{ copytext }}</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#mailSig',
        data() {
            return {
                personname:'',
                title:'',
                team:'',
                org:'',
                room:'',
                tel:'',
                mobile1:'',
                mobile2:'',
                mobile3:'',
                email:'',
                copytext:''
            }
        },
        methods: {
            makeCode() {
                const result = document.getElementById('result').childNodes;
                const textArea = document.getElementById('mailSigOutput');
                copytext = result;
            }
        }
    })
</script>
</body>
</html>



